<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pregunta">
    <h3 style="text-align: center; padding-top:50px ;">Acerca de nosotros</h3>
    <div style="text-align: center;">
      <ion-grid>
        <ion-row style="padding-top: 10px;">
          <ion-col>Versión actual:</ion-col>
          <ion-col>Beta 1.0</ion-col>
        </ion-row>
        <ion-row style="padding-top: 15px;"> 
          <ion-col>Hecho por:</ion-col>
          <ion-col>Alumnos UTT</ion-col>
        </ion-row>
        <ion-row style="padding-top: 15px;"> 
          <ion-col>Dudas y sugerencias</ion-col>
          <ion-col>alumnos@uttehuacan.edu.mx</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-img class="about"
    src="/assets/Imagenes/about.png"
    alt="about"> </ion-img>
  </div>
</ion-content>
