
  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #ffffff;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-toolbar-color: #ffffff;

    --ion-tab-bar-background: #1f1f1f;

    --ion-tab-bar-color: #ffffff;

  }
